Flask
Flask-JWT-Extended
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flask-caching
flask-cors
prometheus-flask-exporter
gunicorn
marshmallow
marshmallow-sqlalchemy
psycopg2
SQLAlchemy
tox
